*{
    margin: 0;
    padding: 0;
}

body {
  font-family: 'Raleway', sans-serif;
  background-color: #f5f8ff;
}

/* Header styles */
header {
    background-image: url(../Assets/Hero-bg.png);
    /* max-width: 1440px; */
    height: 698px;
}

/* Nav styles */
.nav-bar {
    max-width: 1140px;
    margin: 0 auto;

}
ul{
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
    list-style: none;
}
.nav-bar a {
    text-decoration: none;
    font-family: 'Inter';
    font-size: 34px;
    color: #4E47FF;
    font-weight: 1000;
}
.nav-bar button {
    border: none;
    border-radius: 15px;
    background-color: #4E47FF;
    color: white;
    width: 132px;
    height: 48px;
    font-size: 16px;
    font-weight: bold;
}

/* banner styles */
.banner{
    margin: 158px auto;
    max-width: 905px;
    height: 237px;
    text-align: center;
}
.banner-btn{
    margin: 37px auto;
    border: none;
    border-radius: 15px;
    background-color: #4E47FF;
    color: white;
    width: 174px;
    height: 48px;
    font-size: 16px;
    font-weight: bold;
}
.banner h1 {
    font-size: 65px;
    font-weight: bold;
}

/* action styles */
.action{
    margin: 116px auto;
    display: flex;
    max-width: 1140px;
    height: 328px;
    justify-content: space-between;
    align-items: center;
    
}
.act-left{
    width: 517px;
    height: 203px;

}
.act-left h1 {
    font-size: 42px;
    font-weight: bolder;
}
.act-left p {
    margin: 25px 0;
    font-size: 24px;
    color: rgba(37, 36, 50, 0.7);
}
.act-left button{
    margin: 20px auto;
    border: none;
    border-radius: 15px;
    background-color: #4E47FF;
    color: white;
    width: 229px;
    height: 48px;
    font-size: 16px;
    font-weight: bold;
}

.act-right img {
    border-radius: 40px;
    width: 403px;
    height: 328px;
}

/* user section styles */
.user{
    margin: 116px auto;
    padding-top: 30px;
    max-width: 1140px;
    height: 328px;
    background-color: rgba(78, 71, 255, 0.15);
    text-align: center;
    border-radius: 30px;

}
.user h1{
    font-size: 38px;
    font-weight: bolder;
    text-align: center;
    margin: 30px auto 0;
}
.user-parent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 856px;
    height: 121px;
    margin: 50px 142px;

}
.user-child h1{
    font-size: 80px;
    font-weight: bolder;
    color: #4E47FF;
}
.user-child p {
    font-size: 20px;
    color: rgba(37, 36, 50, 0.7);
}
.user-review{
    /* border: 1px solid red; */
    margin: 116px auto;
    padding-top: 30px;
    max-width: 1140px;
    height: 342px;
    /* background-color: rgba(78, 71, 255, 0.2); */
    /* text-align: center; */
    border-radius: 20px;
}
.user-review h1 {
    text-align: center;
    margin: 30px auto;
    font-size: 42px;
    font-weight: bold;
}

/* review section styles */
.card-parent{
    display: flex;
    justify-content: space-between;
}
.card{
    width: 350px;
    height: 235px;
    border-radius: 15px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    padding: 20px 0 15px 15px;
}
.card h2 {
    padding: 10px 0;
}
.card p {
    margin:5px 0 30px 0;
    font-size: 24px;
    color: rgba(37, 36, 50, 0.7);
}
.rev-profile{
    display: flex;
    gap: 10px;
}
.rev-left img {
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

.rev-right{
    margin: 0px;
    padding: 0px;
}
.rev-right h4{
    font-size: 15px;
    font-weight: bold;
    color: rgba(37, 36, 50, 0.7);
}
.rev-right small{
    font-size: 15;
    font-weight: normal;
    color: rgba(37, 36, 50, 0.7);
}
